/* alternative to jscript, keyframes section is for the loading animation to make things smoother. still WIP. */
.container {
    animation: transitionIn 0.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}



/* fonts */

@font-face {
    font-family: monogram;
    src: url(fontsrc/monogram.ttf),
}
@font-face {
    font-family: monogram-extended;
    src: url(fontsrc/monogram-extended.ttf);
}
@font-face {
    font-family: monogram-extended-italic;
    src: url(fontsrc/monogram-extended-italic.ttf);
}

@font-face {
    font-family: pixdigi;
    src: url(fontsrc/Pixel\ Digivolve\ Italic.ttf);


}
@font-face {
    font-family: nord;
    src: url('fontsrc/Nord-Medium.ttf')
}
@font-face {
    font-family: outlast;
    src: url('fontsrc/OutlastRegular.woff')
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://matiaslescano.com.ar/static/fonts/pixelicious.css');


/* main css styling section */
* {
    box-shadow: border-box;
    margin: 0;
    padding: 0;
}

li, a {
    font-family: pixdigi;
    font-weight: 400;
    font-size: 16px;
    color: black;
    text-decoration: none;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: rgb(242, 235, 235);
}

/* hide scrollbar but keep function */
body::-webkit-scrollbar {
    display: none;
}

.companylogo {
    position: relative;
}

.logo2 {
    display: block;
    width: auto;
    float: inline-end;
    padding-top: 5px;
    margin-left: 15px;
    
    
    font-family: pixdigi;
    font-weight: 400;
    font-size: 2vw;

    
    text-transform: uppercase;
    color: transparent;
    filter: blur(.3px);
    animation: pulse 2s ease-in-out infinite alternate;
    
    

}

/* keyframes for text logo effect */
@keyframes pulse {
    0% {
        text-shadow: rgba(47, 0, 0, 0.9) -0.06em -0.06em, rgba(152, 43, 152, 0.893) 0 0;
    }

    33% {
        text-shadow: rgba(0, 39, 36, 0.9) -0.15em -0.15em, rgba(120, 51, 177, 0.9) 0 0;
    }

    66% {
        text-shadow: rgba(0, 0, 0, 0.9) -0.06em -0.06em, rgba(105, 69, 215, 0.9) 0 0;
    }

    100% {
        text-shadow: rgba(28, 0, 100, 0.9) -0.15em -0.15em, rgba(69, 132, 215, 0.9) 0 0;
    }
}


.logo {
    cursor: pointer;
    
    margin: 0;
    padding: 0;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    
    transition: all 0.3s ease;
    font-size: 1.1vw
}

.nav_links li a:hover {
    
    color: #0088a9
    
}

.logohead {

    font-family: pixdigi;
    font-size: 3vw;
    color: rgb(237, 224, 224);
    text-align: center;
    
    padding-top: 0;
    padding-bottom: 70px;

}

.logofoot {

    font-family: pixdigi;
    font-size: 3vw;
    color: rgb(237, 224, 224);
    text-align: center;
    
    padding-top: 70px;
    padding-bottom: 0;
}

.dicdemlogo {

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    

}
.hero-background {

    background-color: #001736;
    background-image: url('imgsrc/background2blur.png');
    background-size: cover;
    background-blend-mode: soft-light;
    
    margin: 0;
    padding-top: 90px;
    padding-bottom: 90px;
    
    border-top: 5px solid #dcaa3f;
    border-bottom: 5px solid #d0a13c;

}

.fredanim {
    
    padding-left: 0;
    margin: 0 auto;
    height: auto;
    width: 15%;
    position: relative; left: 15%;
    
}

.gametab1 {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 5px solid #d0a13c;

    background-color: #001736;
    background-image: radial-gradient(#dcaa3f 0.5px, #001736 0.5px);
    background-size: 10px 10px;
    
    opacity: 0.9;
    
}

.gametab1text {
    
    font-family: pixdigi;
    font-size: 1.6vw;
    text-align: left;
    color: rgb(237, 224, 224);
    
    display: inline-block;
    margin: 0px;
    padding: 0 auto;
    position: relative;
    left: 20%;
    bottom: 5vw;
    
}


.text {
    font-family: nord;
    color: aliceblue;
}


